.contact-div {
    background-color: $main-dark;
    // border: 1px solid red;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.contact-div h1 {
    color: #fff;
    text-align: center;
    font-weight: 300;
    margin-top: 40px;
}