.contact-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: $main-dark;
}

.contact-div h1 {
    font-size: $xl-size;
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin-top: 40px;
    position: relative;
    padding-bottom: 10px;
}

.contact-div h1:before {
    content: '';
    position: absolute;
    width: 6%;
    bottom: 0;
    left: 47%;
    border-bottom: 2px solid $main-pink;
}

#contact-form {
    align-self: center;
    background: $nav-dark;
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    width: 50%;
    max-width: 900px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.contact-title {
    padding: 20px 0;
    background: $nav-dark;
}

.contact-title h3 {
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 2.8rem;
}

label {
    color: #fff;
}

textarea {
    resize: vertical;
}

.form-group {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    position: relative;
}

.form-group input, textarea {
    color: #fff;
    width: 85%;
    padding: 10px 0;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    background: none;
    border: 2px solid $main-dark;
    outline: none;
    transition: .2s ease all;
}

.form-group input::placeholder {
    color: transparent;
    transition: .2s ease all;
}

.form-group label {
    position: absolute;
    left: 7.5%;
    top: 20px;
    color: #fff;
    opacity: 0.3;
    transition: all .2s ease;
    pointer-events: none;
}

.form-group input:focus, textarea:focus {
    border-bottom: 2px solid $main-pink;
}

.form-group input:focus + label,
textarea:focus + label {
    top: 0;
    // left: 0;
    font-size: .8rem;
    color: transparent;
    transition: all .2s ease;
}

.form-group input, .form-group textarea {
    padding-left: 6px;
    padding-right: 6px;
}

label[hidden] {
    opacity: 0;
    visibility: hidden;
}

.form-group input:focus::placeholder,
textarea:focus::placeholder {
    color: #fff;
    transition-delay: .1s;
}


.btn-contact {
    width: 25%;
    margin: 30px auto 40px auto;
    display: block;
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: 2px solid #39D397;
    transition: all .2s linear;
    padding: 12px 25px;
    font-size: $m-size;
    color: #fff;
    z-index: 1;
}

.btn-contact:hover {
    background-color: #39D397;
}

.btn-contact:active, .btn-contact:visited {
    text-decoration: none;
}