.menu {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: $nav-dark;
    margin: 0;
    color: #fff;
    border-right: 2px solid $main-pink;
    position: relative;
    z-index: 2;
    transition: all .2s;
}

canvas, button {
    position: relative;
}

.menu a {
    color: #fff;
    padding: 15px 40px;
}

.close-btn {
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: none;
    visibility: hidden;
}

.home-img {
    display: block;
    width: 75%;
    margin: 20px auto;
    border-radius: 50%;
    border: 2px solid #263238;
}

.nav-bottom {
    background: linear-gradient(to top, rgba(102, 51, 255, 0.1) 10%, rgba(255, 255, 255, 0) 90%);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav-social {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.45rem;
    position: relative;
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
}

.nav-social i {
    color: #6A7390;
    font-size: $l-size;
    transition: all .2s linear;
}

.nav-footer {
    color: $light-gray;
    font-size: 1.45rem;
    width: auto;
    padding: 15px;
    text-align: center;
}

.nav-footer i {
    color: $light-gray;
    transition: all .2s linear;
}

.nav-footer a, .nav-social a {
    color: $light-gray;
    padding: 0;
}

.nav-footer i:hover, .nav-social i:hover {
    color: $main-pink;
    cursor: pointer;
}

.nav-footer a:active, .nav-footer a:visited,
.nav-social a:active, .nav-social a:visited {
    color: $light-gray;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 24px;
    left: 36px;
    top: 36px;
    transition: all .3s linear;
  }
   
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #fff;
  }
   
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
   
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
   
  /* General sidebar styles */
  .bm-menu {
    background: $nav-dark;
    // padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
   
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
   
  /* Wrapper for item list */
  .bm-item-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #b8b7ad;
  }
   
  /* Styling of overlay */
  .bm-overlay {
    background: $main-pink;
  }

@media (max-width: 1024px) {
    .menu a {
        padding: 15px 18px;
    }

    .nav-social a, .nav-footer a {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .bm-burger-button {
        left: 14px;
        top: 14px;
    }

    .home-img {
        visibility: hidden;
        display: none !important;
    }

    .bm-item-list {
        justify-content: center;
        align-items: center;
    }

    .nav-bottom {
        display: none !important;
    }
}