header {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: #fff;
    position: relative;
    z-index: 2;
    transition: all .2s;
}

canvas, button {
    position: relative;
}

.img-div {
    background-color: $nav-black;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 25px 0 15px 0;
    width: 100%;
    border-bottom: 1px solid $main-dark;
  }

.home-img {
    width: 65%;
    border-radius: 50%;
}

.img-text h3 {
    margin: 25px 0 -12px 0;
    padding: 0;
}

.nav-bottom {
    background: linear-gradient(to top, rgba(102, 51, 255, 0.1) 10%, rgba(255, 255, 255, 0) 90%);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav-social {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.45rem;
    position: relative;
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
}

.nav-social i {
    color: #6A7390;
    font-size: $l-size;
    transition: all .2s linear;
}

.nav-footer {
    color: $light-gray;
    font-size: 1.45rem;
    width: auto;
    padding: 15px 15px 25px 15px;
    text-align: center;
}

.nav-footer i {
    color: $light-gray;
    transition: all .2s linear;
}

.nav-footer a, .nav-social a {
    color: $light-gray;
    padding: 0;
}

.nav-footer i:hover, .nav-social i:hover {
    color: $main-pink;
    cursor: pointer;
}

.nav-footer a:active, .nav-footer a:visited,
.nav-social a:active, .nav-social a:visited {
    color: $light-gray;
}

.nav-side-menu {
    overflow: hidden;
    font-size: $m-size;
    font-weight: 300;
    background: $nav-black;
    position: fixed;
    top: 0px;
    width: 250px;
    height: 100%;
    color: #e1ffff;
  }

  .nav-side-menu .toggle-btn {
    display: none;
  }

.nav-side-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}

.nav-side-menu a {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 8px 15px;
    border-left: 3px solid transparent;
    transition: all .2s linear;
    text-decoration: none;
    color: #e1ffff;
}

.nav-side-menu a i {
    margin: auto 15px auto 0;
}

.nav-side-menu a:hover {
    border-left: 3px solid $main-pink;
    background-color: $main-dark;
}

.nav-bottom a:hover {
    border-left: 3px solid transparent;
    background: none;
}

.nav-footer a {
    display: inline;
    padding: 0;
}

.trend {
    font-size: $s-size;
    border-top: 1px solid $main-dark;
    text-align: center;
    padding-top: 30px; 
}

.commit-title {
    font-weight: 500;
    padding-bottom: 10px;
}

@media (max-width: 767px) {
    header {
        width: 100%;
        height: auto;
    }

    .img-text h3 {
        margin: 12px 0 -12px 0;
    }

    .nav-side-menu {
        position: relative;
        width: 100%;
        border-bottom: 2px solid $main-pink;
        border-right: none;
    }

    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        color: #fff;
        text-align: center;
        transition: all .2s linear;
    }

    .nav-side-menu .toggle-btn:hover {
        color: $main-pink;
    }

    .img-div {
        height: 60px;
        padding: 0;
    }

    .home-img {
        display: none;
    }

    .nav-bottom {
        display: none;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}