.resume-div {
    width: 100%;
    height: 100vh; 
    background: $main-dark;
    overflow-y: scroll;
    overflow-x: hidden;
}

.resume-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.resume-div h1 {
    font-size: $xl-size;
    text-align: center;
    color: $nav-black;
    font-weight: 300;
    margin-top: 40px;
    position: relative;
    padding-bottom: 10px;
}

.resume-div h1:before {
    content: '';
    position: absolute;
    width: 6%;
    bottom: 0;
    left: 47%;
    border-bottom: 2px solid $main-pink;
}

.skills {
    margin: 30px auto;
}

.work-exp, .skills {
    width: 75%;
}

.skills-container {
    display: flex;
    margin: 20px auto;
    padding: 20px 15px 10px 35px;
    background: $nav-black;
    > div {
        width: 50%;
        > p {
            color: $main-white;
        }
    }
    > .skills-about h3 {
        font-weight: 600;
        font-size: 2.2rem;
        color: $main-pink;
    }
}

.work-exp h2, .skills h2 {
    font-size: $l-size;
    font-weight: 300;
}

.job-container {
    background: $nav-black;
    color: $main-white;
    margin: 20px auto;
    padding: 20px 15px 10px 35px;
    > h3 {
        font-weight: 300;
        > span {
            font-size: 2.2rem;
            font-weight: 600;
            color: $main-pink;
        }
    }
    > p {
        font-weight: 500;
    }
    > ul li {
        font-weight: 200;
    }
}

.resume-sidebar {
    width: auto;
    text-align: center;
    position: fixed;
    top: 14%;
    right: 12%;
}

.resume-sidebar p {
    color: $nav-black;
    font-weight: 400;
}

.resume-sidebar svg {
    color: $nav-black;
    font-size: $l-size;
    transition: all .2s linear;
}

.resume-sidebar svg:hover {
    color: $main-pink;
    cursor: pointer;
}

.resume-sidebar a, .resume-sidebar a:active,
.resume-sidebar a:visited {
    color: $nav-black;
}

@media (max-width: 1024px) {
    .resume-sidebar {
        top: -3%;
        right: 0;
        position: relative;
    }
}