.resume-div {
    width: 100%;
    height: 100vh;
    background: radial-gradient(at top left, $main-dark, $nav-black);
    overflow-y: scroll;
    overflow-x: hidden;
}

.resume-div h1 {
    font-size: $xl-size;
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin-top: 40px;
    position: relative;
    padding-bottom: 10px;
}

.resume-div h1:before {
    content: '';
    position: absolute;
    width: 6%;
    bottom: 0;
    left: 47%;
    border-bottom: 2px solid $main-pink;
}

.resume-content {
    display: flex;
    justify-content: center;
    padding: 10px 0 40px 0;
}

.resume-content img {
    max-width: 1110px;
    max-height: 1435px;
    width: 65%;
    height: 65%;
}

.resume-content p {
    color: #fff;
    text-align: center;
}

.resume-sidebar {
    width: auto;
    text-align: center;
    position: fixed;
    top: 14%;
    right: 12%;
}

.resume-sidebar p {
    color: #fff;
    font-weight: 400;
}

.resume-sidebar i {
    color: #fff;
    font-size: $l-size;
    transition: all .2s linear;
}

.resume-sidebar i:hover {
    color: $main-pink;
    cursor: pointer;
}

.resume-sidebar a, .resume-sidebar a:active,
.resume-sidebar a:visited {
    color: #fff;
}

@media (max-width: 1024px) {
    .resume-content img {
        width: 100%;
    }

    .resume-sidebar {
        top: -3%;
        right: 0;
        position: relative;
    }
}