{
    "presets": [
        "env", 
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-async-to-generator",
        "transform-async-generator-functions"
    ]
}