* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

a {
    text-decoration: none;
}

.main-container {
    display: flex;
    justify-content: space-around;
    overflow-y: hidden;
    overflow-x: hidden;
    // height: 100vh;
    margin: 0;
    padding: 0;
}

#menu-btn {
    color: #fff;
    cursor: pointer;
    padding: 0;
    z-index: 1;
    position: relative;
    display: none;
    visibility: hidden;
    transition: all .3s;
}

.is-active {
    font-weight: 500;
    color: #fff;
    transition: all .3s;
    background: $main-pink;
}

// @media (max-width: 1024px) {
//     #menu-btn {
//         display: block;
//         visibility: visible;
//         font-size: 2.5rem;
//         text-align: right;
//         padding: 10px 28px;
//         transition: all .3s;
//     }
// }

@media (max-width: 767px) {
    .is-active {
        background: none;
        border-bottom: 2px solid $main-pink;
    }
}