* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

a {
    text-decoration: none;
}

.main-container {
    display: flex;
    justify-content: space-around;
    overflow-y: hidden;
    overflow-x: hidden;
    // height: 100vh;
    margin: 0;
    padding: 0;
}

.is-active {
    font-weight: 500;
    color: $main-pink;
    // background: $main-pink;
}