* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

a {
    font-weight: 500;
    text-decoration: none;
    transition: all .1s linear;
}

a:visited, a:link {
    color: $main-pink;
}

a:hover {
    text-decoration: none;
}

.main-container {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.is-active {
    // background: linear-gradient(to right, rgba(255, 65, 109, 0.61), rgba(255, 255, 255, 0));
    border-left: 3px solid #FF416C !important;
}

.svg-inline--fa {
    position: relative;
    top: 0.15em;
}

@media (max-width: 767px) {
    .main-container {
        flex-direction: column;
    }
    .is-active {
        // background: $main-dark;
        border-left: 2px solid $main-pink;
    }
}