// Colors
// $main-pink: #6633ff;
$main-pink: #FF416C;
$main-green: #00c9b1;
// $main-dark: #3C4254;
$main-dark: #FAFBFE;
$main-white: #FDFDFF;
$light-gray: #9EA0AA;
$nav-black: #505566;

// $main-pink: #6633ff;
// $main-green: #39D397;
// $main-dark: #353952;
// $light-gray: #6A7390;
// $nav-black: #23282e;
//#EB4F9A
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;