// Colors
// $main-pink: #6633ff;
$main-pink: #5D47EC;
$main-green: #39D397;
// $main-dark: #3C4254;
$main-dark: #485563;
$light-gray: #495066;
$nav-black: #252937;

// $main-pink: #6633ff;
// $main-green: #39D397;
// $main-dark: #353952;
// $light-gray: #6A7390;
// $nav-black: #23282e;
//#EB4F9A
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;